body{
    background-color:var(--clr-brown-dark);
}
header{
    background-color:var(--clr-brown-dark);
    color: white;
}
.browse-btn{
    padding: 12px 32px;
    white-space: nowrap;
    background-color: var(--clr-brown);
    border: 2px solid var(--clr-brown);
    font-family: 'Nanum Myeongjo', 'Times New Roman', Times, serif;
    color: white;
}
.browse-btn:hover {
  background-color: var(--clr-dark-brown);
  border: none;
}
.message-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.back-btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 12px 0px;
  font-size: 16px;
  font-family: 'Nanum Myeongjo', 'Times New Roman', Times, serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  border: 0;
  background: transparent;
  border-bottom: 2px solid;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: 0.25s all ease;
  border-radius: 0;
  white-space: nowrap;
  color: var(--clr-white);
}
.back-btn:hover {
  color: var(--clr-brown);
}
.back-btn:focus {
  outline: none;
}

