#about-header {
  height: 30rem;
  background-image: url(../images/main_slide/lesly-derksen-v1pcGRXSmW8-unsplash.jpg);
  background-size: cover;
  background-position-y: top;
  color: white;
  margin-bottom: 8rem;
}
