#about-header {
    height: 30rem;
    background-image: url(../images/main_slide/lesly-derksen-v1pcGRXSmW8-unsplash.jpg);
    background-size: cover;
    background-position-y: top;
    color: white;
    margin-bottom: 8rem;
}

#breadcrumb-nav {
    margin-top: 5rem;
    color: white;
    --bs-breadcrumb-divider: "";
}

#breadcrumb {
    margin-top: 6rem;
}

.breadcrumb-item > a, .breadcrumb-item > a::after {
    color: white;
    content: " > ";
    font-weight: lighter;
}

.breadcrumb-item > a:hover {
    color: gray;
}

.breadcrumb-item.active {
    color: white;
}

.about-us {
    background-color: var(--clr-light-grey);
}

.big-icon-header {
    color: var(--clr-brown);
    font-size: 3rem;
}

.social-media-icon > a {
    color: var(--clr-light-brown);
}

.social-media-icon > a:hover {
    color: var(--clr-brown);
}

.team-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.team-member-name {
    color: var(--clr-brown);
}

.our-team {
    width: fit-content !important;
    padding: 0 !important;
    padding-top: .5rem !important;
}
