.form-input{
    border-radius: 30px; 
    width: 100%;
    padding: .375rem .75rem;
    line-height:2.5;
    border: none;
    background-color:rgb(247, 247, 247);
}

.container{
    width: 60%;
}

.card.booking-form{
    border: 0;
}