#contact-header {
    height: 27rem;
    background-image: url(../images/main_slide/lesly-derksen-v1pcGRXSmW8-unsplash.jpg);
    background-size: cover;
    background-position-y: center;
    color: white;
    margin-bottom: 8rem;
}

#breadcrumb-nav {
    margin-top: 5rem;
    color: white;
    --bs-breadcrumb-divider: "";
}

#breadcrumb {
    margin-top: 6rem;
}
#contact-container{
    padding-left: 70px;
}

.form-input{
    border-radius: 30px;
    
    width: 100%;
    padding: .375rem .75rem;

    line-height:2.5;
    border: none;
    background-color:rgb(247, 247, 247);
   

}
h5{
    font-family: var(--ff-primary);
}

.icons {
    color: var(--clr-brown);
}

.form-inout:focus{outline: none;

}
.breadcrumb-item > a, .breadcrumb-item > a::after {
    color: white;
    content: " > ";
    font-weight: lighter; 
}
.breadcrumb-item > a:hover {
    color: gray;
}

.breadcrumb-item.active {
    color: white;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}



.gmap_canvas {
    overflow:hidden;
    height:12.5rem;
    width:100%;
}
.listfont{
    font-family: var(--ff-primary);
}
.mapouter{
    position:relative;
    text-align:right;
    height: 200rem;
    width:100%;
}
p{
    font-family: var(--ff-primary);
}
span , label{
    font-family: var(--ff-primary);
}