@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.padding {
  padding: 3rem !important;
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: gray;
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}
li > a{
  font-family: var(--ff-primary);
  font-weight: 400;  
}
.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: '';
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: var(--clr-brown);
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--clr-brown);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--clr-brown);
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: var(--clr-brown);
  background-color: #f7f5ec;
}

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: '\f005';
}

.rating > .half:before {
  content: '\f089';
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.product-rating {
  font-size: 1.5rem;
  margin: 10px;
}
.rating-text {
  margin: 10px;
}

.total-rating {
  font-size: 1.3rem;
}

.card-guide {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  max-width: 380px;
  width: 100%;
  color: #000000;
  text-align: left;
  line-height: 1.4em;
  background-color: var(--clr-brown-darken);
  min-height: 470px;
  cursor: pointer;
  box-shadow: var(--light-shadow);
  border-radius: 10px;
}
.card-guide:hover {
  box-shadow: var(--dark-shadow);
}
.card-guide * {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card-guide img {
  max-width: 100%;
  height: 200px;
  vertical-align: top;
  opacity: 0.85;
  object-fit: cover;
}
.card-guide figcaption {
  width: 100%;
  background-color: white;
  padding: 25px;
  position: relative;
}

.card-guide figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent white;
  overflow: hidden;
}
.card-guide figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.card-guide figcaption a:hover {
  opacity: 1;
  box-shadow: 0 0 15px rgba(231, 224, 224, 0.482);
}
.card-guide .profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 10;
  opacity: 1;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  border: 4px solid var(--clr-brown);
}
.card-guide .cover {
  position: absolute;
  left: 0px;
  top: 0px;
  content: '';
  height: 100%;
  width: 100%;
  z-index: 9;
  padding-top: 50%;
  padding-left: 1rem;
  background-color: rgba(27, 8, 8, 0.938);
  transform: translateX(-150%);
  transition: all 0.3s ease-in-out;
}

.card-guide h2 {
  margin: 0 0 5px;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
}
.card-guide h2 span {
  display: block;
  font-size: 0.5em;
  color: #000000;
}
.card-guide p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
.checked {
  color: orange;
}
.guide-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prog-bar,
.bar-span {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: white;
}
