
  .guide-detail.social {
    bottom: 0;
  }
  
  .guide-detail.social li {
    display: inline-block;
  }
  
  .guide-detail.social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .guide-detail.social li a:hover {
    color: var(--clr-brown);
    background-color: #f7f5ec;
  }

  .guideDetail_skill .progress-bar {
      background-color: var(--clr-brown);
  }

.progressdiv {
    position: relative;
}

.skills-bar .progressC {
    display: block;
    margin: 0;
    overflow: hidden;
    transform: rotate(-90deg) rotateX(180deg);
    
  }
  
 .skills-bar .progressC circle {
      stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s ease;
        stroke: #ad9463;
        stroke-width: 11px;
  }
  
.skills-bar  .progressC .bar {
      stroke: #D3D3D3;
  }
  
.skills-bar .progressdiv {
    position: relative;
  }
  
.skills-bar .progressdiv:after {
    position: absolute;
    top: 45%;
    left: 42%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    content: attr(data-percent) " %";
  }

.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
  
  .guide-rating {
    font-size: 1.5rem;
    margin: 10px;
  }
  .rating-text {
    margin: 10px;
  }
  
  .total-rating {
    font-size: 1.3rem;
  } 