.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-label {
  border-radius: 30px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 2.5;
  border: none;
  background-color: rgb(226, 88, 88);
}

#form-label:focus,
.login-btn:focus {
  outline: none;
}

.login-btn {
  position: relative;
  padding: 12px 0px;
  font-size: 16px;
  font-family: 'Nanum Myeongjo', 'Times New Roman', Times, serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  border: 2px solid var(--clr-brown);
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.25s all ease;
  border-radius: 50px;
  white-space: nowrap;
  color: white;
  background-color: var(--clr-brown);
}

.login-btn:hover {
  background-color: var(--clr-dark-brown);
}
