/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(206, 33%, 96%);
  --clr-light-grey: #f7f7f7;
  --clr-light-grey-2: #29293a;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-brown-dark: #2b2b2b;
  --clr-brown: #ad9463;
  --clr-light-brown: #838386;
  --clr-dark-brown: #91684a;
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --ff-third: 'Nanum Myeongjo', 'Times New Roman', Times, serif;
  --transition: all 0.3s linear;
  /* --spacing: 0.25rem; */
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --thin-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --fs-headline-1: 4.5rem;
  --fs-headline-2: 4rem;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-third);
  font-weight: 400;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-third);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  letter-spacing: 0.02em;
}
.headline-1 {
  font-size: var(--fs-headline-1);
  font-weight: 700;
}
.headline-2 {
  font-size: var(--fs-headline-2);
  font-weight: 400;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 12px 0px;
  font-size: 16px;
  font-family: 'Nanum Myeongjo', 'Times New Roman', Times, serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  border: 0;
  background: transparent;
  border-bottom: 2px solid;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: 0.25s all ease;
  border-radius: 0;
  white-space: nowrap;
  color: var(--clr-brown-dark);
}

.divider {
  width: 4rem;
  color: var(--clr-brown);
  height: 3px !important;
  opacity: 1;
}

.btn:hover {
  color: var(--clr-brown);
}
.btn:focus {
  outline: none;
}
.divider-default {
  background: var(--clr-brown);
}

.divider {
  display: inline-block;
  border: 0;
  font-size: 0;
  line-height: 0;
  height: 3px;
  max-width: 100px;
  width: 100%;
}

/* Pre Header */
.pre-header {
  background-color: var(--clr-brown-dark);
  height: 50px;
  color: var(--clr-white);
  font-family: var(--ff-third);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pre-header p,
.pre-header ul {
  margin-bottom: unset;
  margin-right: 1.4rem;
}
.pre-header .contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pre-header .social-icons i {
  color: var(--clr-grey-8);
}
.pre-header .social-icons i:hover {
  color: var(--clr-white);
  background-color: unset;
}
/*
=============== 
Nav
===============
*/
header {
  background: var(--clr-white);
  height: 6rem;
  display: grid;
  align-items: center;
  box-shadow: var(--thin-shadow);
}

.nav-center {
  width: 96vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center h4 {
  margin-bottom: 0;
  color: var(--clr-primary-5);
}

.nav-links {
  display: flex;
}

/* Nav-logo */
nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
}

nav a:hover {
  color: var(--clr-primary-1);
}
.logo-brand {
  font-weight: bold;
  font-size: 3rem;
  font-style: inherit;
  font-family: 'Nanum Myeongjo', 'Times New Roman', Times, serif;
  letter-spacing: 0.6rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
nav .logo-brand img {
  height: 6rem;
  width: 6rem;
}
.hum-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hum-menu i {
  font-size: 2rem;
  display: none;
}

/*
=============== 
wrapper
===============
*/
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

.wrapper {
  text-align: center;
}

.wrapper h2 {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
}

.color {
  color: var(--clr-primary-5);
}

/* nav toggler */
.navigation-toggler {
  display: none;
}

.collapsable ul {
  display: flex;
}

.collapsable .list-item,
.collapsable li {
  position: relative;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.nav-list .active {
  border-bottom: 4px solid black;
}
.collapsable .list-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  height: 4px;
  width: 0;
  background-color: black;
  transition: width 0.2s ease-out;
}

.collapsable .list-item:not(.active):hover:after {
  width: 100%;
}

/* BreadCrumb */
#breadcrumb-nav {
  margin-top: 5rem;
  color: white;
  --bs-breadcrumb-divider: '';
}

#breadcrumb {
  margin-top: 6rem;
}

.breadcrumb-item > a,
.breadcrumb-item > a::after {
  color: white;
  content: ' > ';
  font-weight: lighter;
}

.breadcrumb-item > a:hover {
  color: gray;
}

.breadcrumb-item.active {
  color: white;
}

/* section */
.section {
  height: 300px;
}

.section {
  padding: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* Main Slider */
#slide-landing {
  position: relative;
}
.slide-img-container {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
}

#slide-landing .carousel-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  max-width: 600px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transform: translateY(-50%);
  color: #fff;
  text-align: left;
}

#slide-landing .carousel-caption h1 {
  color: var(--clr-white);
}

#slide-landing .carousel-caption p {
  color: var(--clr-grey-9);
}

#slide-landing .carousel-indicators {
  justify-content: end;
}

#slide-landing .carousel-indicators li {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  margin: 15px;
  opacity: 1;
}

#slide-landing .carousel-indicators li.active { 
  background-color: var(--clr-brown);
}

/* Slide Banner */
.slide-banner {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  background-color: var(--clr-light-grey);
  width: 590px;
  background-color: rgba(247, 247, 247, 0.8);
  padding: 45px 40px 65px;
  border-radius: 8px;
  color: #29293a;
  z-index: 11;
}

.form-label,
.form-label-outside {
  line-height: 28px;
  color: #838386;
  font-weight: 300;
}
.form-wrap-inline {
  margin: 1rem 0;
}
.form-request-modern .form-input,
select {
  display: block;
  width: 100%;
  min-height: 80px;
  background-color: transparent;
  background-image: none;
  border: 0px solid #f7f7f7;
  -webkit-appearance: none;
  color: #29293a;
  border-bottom: 2px solid;
}
.form-input:focus,
select {
  outline: none;
}
/* Destination Section */
.destination-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 8rem 3rem 10rem;
  margin-left: 3rem;
}
.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  height: 400px;
}

#destination .card-img-top {
  transform: scale(1);
  transition: all 1s ease-in-out;
}

#destination .card-img-top:hover {
  transform: scale(1.05);
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 992px) {
  .destination-header {
    margin-right: unset;
    margin-left: unset;
  }
}

/* services */
#services {
  min-height: 600px;
  background-color: var(--clr-light-grey);
  padding: 5rem 1rem;
}

.services .box-minimal-border {
  padding: 40px 35px 45px;
  border: 1px solid #dfe1ea;
  transition: 450ms ease-in-out;
  min-height: 300px;
}

.services h1 {
  margin-bottom: 4rem;
}

.services .box-minimal-border .box-minimal-icon {
  font-size: 30px;
  color: #151515;
  padding: 20px 15px;
}

.services .linearicons,
[class^='linearicons-'],
[class*=' linearicons-'] {
  font-family: 'Linearicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.box-minimal-border:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 10px 32px 0 rgb(129 132 146 / 14%);
}

/* News section */

#news {
  width: 95%;
  margin: 0 auto;
}

.news-button,
.news-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
}

.img-wrapper {
  overflow: hidden;
}

#news .card-img-top {
  transform: scale(1);
  transition: all 1s ease-in-out;
}

#news .card-img-top:hover {
  transform: scale(1.05);
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 992px) {
  .destination-header {
    margin-right: unset;
    margin-left: unset;
  }
}
/* Testimonial Section */
#testimonals {
  background-color: var(--clr-light-grey);
  color: black;
}

.testimonial {
  font-size: 1.3rem;
}

.testimonial-header {
  text-align: center;
  position: relative;
  margin: 100px 0 60px;
}

.item .img-box {
  float: left;
  margin-right: 40px;
}

.img-box {
  filter: grayscale(100%);
}

.item .testi-conent {
  float: right;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -1.8rem;
  left: 16rem;
  width: 100%;
  height: 100%;
  font-size: 120px;
  opacity: 0.6;
  /* background: transparent; */
  pointer-events: none;
}

#testimonals .carousel {
  margin: 50px auto;
  padding: 0 70px;
}

#testimonals .carousel-item {
  font-size: 24px;
  /* text-align: center; */
  overflow: hidden;
  min-height: 390px;
}

#testimonals .carousel .item .img-box {
  width: 235px;
  height: 235px;
  /* margin: 0 auto; */
  border-radius: 50%;
}

#testimonals .carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

#testimonals .carousel .testimonial {
  padding: 30px 0 10px;
}

#testimonals p.overview-occupation {
  font-size: 1.3rem;
}


#testimonals .carousel a.carousel-control {
  width: 10px;
  height: 10px;
  margin-top: -50px;
  top: 40%;
  background: none;
}

#testimonals a.carousel-control i {
  position: absolute;
  color: gray;
  padding: .6rem;
  border: solid 1px;
  border-radius: 50%;
  border-color: gray;
}

#testimonals a.carousel-control i:hover  {
  color: white;
  border-color: white;
  background: black;
}


@media screen and (max-width: 992px) {
  .img-box {
    margin: 0 auto;
  }
}
/* Gallery Section */

.gallery_product {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
}
.event-default {
  position: relative;
  max-width: 100%;
  min-height: 399px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  perspective: 1000px;
  overflow: hidden;
}
.event-default img {
  display: inline-block;
  min-height: 399px;
  vertical-align: middle;
  border-style: none;
  transition: all 1s;
}
@media screen and (max-width: 2500px) {
  .event-default {
    max-height: 399px;
  }
  .event-default img {
    max-width: 100%;
    max-height: 399px;
  }
}
.event-default-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 550ms ease-in-out;
  opacity: 0;
}
.event-default-image {
  transition: 550ms ease-in-out;
  object-fit: cover;
}
.event-default:hover .event-default-image,
.event-default:hover .event-default-caption,
.event-default:hover .button {
  transform: scale3d(1.05, 1.05, 1.05);
  opacity: 1;
}

.event-default-inner {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0rem;
}
.event-default-inner h5 a,
.event-default-inner span {
  color: var(--clr-brown-dark);
  font-size: 1.3rem;
  font-weight: 600;
}
.gallery_product .img-info {
  position: absolute;
  background-color: transparent;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  padding: 20px;
  overflow: hidden;
  color: #fff;
  display: none;
  -webkit-transition: 2s;
  transition: all 2s;
  transition-delay: 0.25s;
}

.gallery_product:hover .img-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery_product:hover .event-default img {
  filter: brightness(0.4);
}

.gallery-footer {
  margin-top: 100px;
  margin-bottom: 100px;
}
/*	end gallery */
/* Surafel Footer Section */

#footer {
  background-color: var(--clr-brown-dark);
  color: white;
}

.social-media-icon {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 50px;
  border: 0 solid;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.form-container .social-media-icon {
  background-color: var(--clr-brown-dark);
  font-size: 15px;
  height: 30px;
  width: 30px;
  padding: 4px;
}

#facebook > a {
  color: white;
}

#facebook:link,
#facebook:visited {
  color: white;
}

#facebook:hover,
#facebook:active {
  color: white;
  background-color: #3b5998;
}

#twitter > a {
  color: white;
}

#twitter:link,
#twitter:visited {
  color: white;
}

#twitter:hover,
#twitter:active {
  color: white;
  background-color: #1da1f2;
}

#instagram > a {
  color: white;
}

#instagram:link,
#instagram:visited {
  color: white;
}

#instagram:hover,
#instagram:active {
  color: white;
  background-color: black;
}

#google > a {
  color: white;
}

#google:link,
#google:visited {
  color: white;
}

#google:hover,
#google:active {
  color: white;
  background-color: #db4437;
}

#linkedin > a {
  color: white;
}

#linkedin:link,
#linkedin:visited {
  color: white;
}

#linkedin:hover,
#linkedin:active {
  color: white;
  background-color: #2867b2;
}

/* Go To top */

#go-to-top {
  position: fixed;
  z-index: 1;
  bottom: 50px;
  right: 50px;
  padding: 20px;
  height: 50px;
  border: 0 solid;
  transition: 0.45s all ease-in-out;
  border-radius: 9px;
  background-color: #2b2b2b;
  color: white;
  font-size: 20px;
}

#go-to-top:link,
#go-to-top:visited {
  color: white;
}

#go-to-top:hover,
#go-to-top:active {
  background-color: var(--clr-brown);
}

/* Big background section title */

.big-title-reflection {
  position: absolute;
  left: -0.6rem;
  top: 0.5rem;
  font-weight: 900;
  z-index: -1;
  font-size: 160px;
  letter-spacing: 0;
  color: var(--clr-light-grey);
}

/* Login Form */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-label {
  border-radius: 30px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 2.5;
  border: none;
  background-color: rgb(247, 247, 247);
}

#form-label:focus,
.login-btn:focus {
  outline: none;
}
.login-btn {
  position: relative;
  padding: 12px 0px;
  font-size: 16px;
  font-family: 'Nanum Myeongjo', 'Times New Roman', Times, serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  border: 2px solid var(--clr-brown);
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.25s all ease;
  border-radius: 50px;
  white-space: nowrap;
  color: white;
  background-color: var(--clr-brown);
}
.login-btn:hover {
  background-color: var(--clr-dark-brown);
}
.modal-content {
  overflow-x: hidden;
}
.modal-content .form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 1.5s cubic-bezier(0, 1.2, 1, 1);
}
.modal-dialog {
  max-width: 402px;
  margin: 1.75rem auto;
  margin-top: 6rem;
}
.form-container .d {
  width: 400px;
  margin: 0 auto;
}
.form-spanner {
  background-color: var(--clr-brown);
}
.form-anim-l .form-container {
  transform: translateX(-200%);
}
.form-anim-r .form-container {
  transform: translateX(0%);
}
