/* Index: media query */
@media screen and (max-width: 1176px) {
  .hum-menu i {
    display: block;
  }
  header,
  .collapsable .list-item,
  .collapsable li {
    height: 4rem;
  }
  .nav-center {
    width: 100%;
    padding: 0.3rem 0.6rem;
    justify-content: space-between;
  }
  ul.nav-list {
    margin-bottom: 0;
  }
  .collapsable {
    display: none;
  }
  .navigation-toggler,
  .navigation-menu {
    display: block;
  }
  .big-title-reflection {
    font-size: 4.5rem;
    top: 2.5rem;
  }
  .sidebar {
    display: flex;
    padding-top: 6rem;
  }
  .search-form {
    position: absolute;
    top: 1rem;
    left: unset;
    right: 10%;
    width: 320px;
  }
  .search-form input {
    padding: 1rem;
    border-radius: 50px;
    border: none;
    background-color: #f7f7f7;
    box-shadow: var(--dark-shadow);
  }
}
@media screen and (max-width: 769px) {
  .logo-brand {
    font-size: 2.3rem;
    margin-left: 0.7rem;
  }
  .big-title-reflection {
    display: none;
  }
  .main-slider .container-fluid {
    padding-right: var(--bs-gutter-x, 0.1rem);
    padding-left: var(--bs-gutter-x, 0.1rem);
  }
  .slide-banner {
    position: static;
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    transform: none;
    max-width: 400px;
    margin: 0 auto;
  }
  .destination-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    margin-left: 1rem;
  }
  .search-form {
    position: absolute;
    top: 0.5rem;
    left: unset;
    right: 14%;
    width: 320px;
  }
}
@media screen and (max-width: 468px) {
  .logo-brand {
    font-size: 1.7rem;
  }
  header {
    position: fixed;
    box-shadow: var(--dark-shadow);
  }
  #slide-landing .carousel-caption {
    display: block;
    width: 100%;
  }
  .big-title-reflection {
    display: none;
  }
  .carousel-control {
    display: none;
  }
  .pre-header {
    display: none;
  }
  #testimonals .carousel {
    margin: 20px auto;
    padding: 0 10px;
  }
  .social-media-icon {
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 3px;
    height: 20px;
    width: 20px;
    border: 0 solid;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .sidebar {
    padding-top: 5rem;
  }
  .search-form {
    position: absolute;
    top: 5rem;
    left: unset;
    right: 5%;
    width: 300px;
  }
  .search-form input {
    padding: 1.2rem;
    border-radius: 50px;
    border: none;
    background-color: #f7f7f7;
    box-shadow: var(--dark-shadow);
  }
}
@media screen and (max-width: 460px) {
  .slide-banner {
    max-width: 400px;
  }
}
