.content-wrapper {
  z-index: 3;
}
.pre-header {
  display: none;
}
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 4rem;
  color: #151515;
  background: #ffffff;
  width: 100%;
  max-width: 280px;
  height: 100%;
  /* height: calc(100vh - 4rem); */
  background-color: teal;
  z-index: 90;
  display: none;
}
