#tourdetail-header {
    height: 27rem;
    background-image: url(../images/main_slide/lesly-derksen-v1pcGRXSmW8-unsplash.jpg);
    background-size: cover;
    background-position-y: center;
    color: white;
    margin-bottom: 8rem;
}

#breadcrumb-nav {
    margin-top: 5rem;
    color: white;
    --bs-breadcrumb-divider: "";
}

#breadcrumb {
    margin-top: 6rem;
}
#contact-container{
    padding-left: 70px;
}
.form-input{
    border-radius: 30px;
    
    width: 100%;
    padding: .375rem .75rem;

    line-height:2.5;
    border: none;
    background-color:rgb(247, 247, 247);
   

}


.breadcrumb-item > a, .breadcrumb-item > a::after {
    color: var(--clr-white);
    content: " > ";
    font-weight: lighter; 
}
.breadcrumb-item > a:hover {
    color: gray;
}


.card-header{
  background-color: var(--clr-brown);
  color: var(--clr-white);
  
}
.card{
  border: none;
  background-color: var(--clr-brown);
}
.card-body{
  background-color: var(--clr-white);
}
.card:hover{
  background-color: var(--clr-white) !important;
  border-color:var(--clr-white);
  box-shadow: 0 10px 32px 0 rgb(129 132 146 / 14%);
  border: none;
  
  
}
.card:hover .card-header {
  background-color: black;
}
.book-btn {
  position: relative;
  padding: 12px;
  font-size: 16px;
  font-family: 'Nanum Myeongjo', 'Times New Roman', Times, serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  border: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.25s all ease;
  white-space: nowrap;
  color:var(--clr-white);
  background-color: var(--clr-brown);
}

.book-btn:hover {
  background-color: var(--clr-dark-brown) !important;
}

.collapsible {
  background-color:transparent;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  box-shadow: 0 10px 32px 0 rgb(129 132 146 / 14%);
}


.collapsible:after {
  content: '\002B';
  color:black;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}


.active:after {
  content: "\2212";
  
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  box-shadow: 0 10px 32px 0 rgb(129 132 146 / 14%);
}

.gmap_canvas {
  overflow:hidden;
  height:12.5rem;
  width:100%;
}

.gmap_canvas iframe{
  width:"100%" !important;
  height:"200rem" !important;
}

.mapouter{
  position:relative;
  text-align:right;
  height: 200rem;
  width:100%;
}

